backup/
lib/
*.res
*.o
*.ppu
*.compiled
*.lps
fpgacurrentmeasurement
testagilent34410a
testkeithley2010
testkeithley2600
testlecroywavejet3xx
testrohdeschwarzfse
testusbtmc
testkeysighte3631xa
testagilentmsox3000a
MSOX-*.png
testkeysightu125xb
